{% extends '::base.html.twig' %}

{% block body -%}
<div id="wrapper">

    <header class="navbar" role="banner">

    <div class="container">
     <nav class="collapse navbar-collapse" role="navigation">
			<div class="navbar-header navbar-title">
					البرمجة السنويّة للنفقات
			</div>
			
			<div class="navbar-header navbar-title">
				PAD&nbsp;&nbsp;&nbsp;<sup>V<sup>1.0<sup></sup>
			</div>
			{% include "::toolbar.html.twig" %}
		</nav>
	</div> <!-- /.container -->
  </header>
{% include "::menu_header.html.twig" %}
    <h1>Classe</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Labelclass</th>
                <td>{{ entity.labelClass }}</td>
            </tr>
            <tr>
                <th>Articleclasse</th>
                <td>{{ entity.articleClasse }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('classe') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classe_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
