{% extends '::base.html.twig' %}

{% block body -%}

<div id="wrapper">

    <header class="navbar" role="banner">

    <div class="container">
     <nav class="collapse navbar-collapse" role="navigation">
			<div class="navbar-header navbar-title">
					البرمجة السنويّة للنفقات
			</div>
			
			<div class="navbar-header navbar-title">
				PAD&nbsp;&nbsp;&nbsp;<sup>V<sup>1.0<sup></sup>
			</div>
			{% include "::toolbar.html.twig" %}
		</nav>
	</div> <!-- /.container -->
  </header>
{% include "::menu_header.html.twig" %}
    <div class="portlet-header" style="float:right;">
              <h4 class="portlet-title" style="float:left;">
    <h1>قائمة البرامج </h1>
</div>
<div class="portlet portlet-default">
            <div class="portlet-body" style="float:right;">
   	</BR>	</BR> 
    <ul style="float:right;">
        <li>
            <a href="{{ path('yes_new') }}">
              إضافة برنامج 
            </a>
        </li>
    </ul>
</BR>			 
     <table 
            class="table table-striped table-bordered table-hover ui-datatable" 
            data-ajax="../../global/js/demos/json/table_data.json"
            data-global-search="true"
            data-length-change="true"
            data-info="true"
            data-paging="true"
            data-page-length="10"
           style="float:right;">
            <thead>
              <tr>
                <th data-sortable="true" >     </th>
                <th data-filterable="text">البرنامج الرئاسي</th>
                <th data-filterable="text">البرنامج</th>
                <th data-sortable="true" >البرنامج عدد</th>
                <th data-sortable="true" >     </th>
              </tr>
            </thead>
            <tbody > 
        {% for entity in entities %}
            <tr>
 <td >
                <ul>
                    <li>
                        <a href="{{ path('yes_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('yes_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
<td >{{ entity.head }}</td>
<td>{{ entity.labelProg }}</td>
<td >{{ entity.code }}</td>

<td ><a href="{{ path('yes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
      
    {% endblock %}
