<div class="mainnav ">

    <div class="container">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse " role="navigation">

        
        <ul class="mainnav-menu ">


          <li class="dropdown active ">
          	<a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="mainnav-caret"></i>&nbsp;
			لوحة القيادة
          	</a>

          	<ul class="dropdown-menu " role="menu">
              <li>
                <a href="{{path('oc_show_classe')}}">
                <i class="fa fa-dashboard dropdown-icon "></i>
				إضافة فصل
                </a>
              </li>

              <li>
                <a href="{{ path('ministere_new') }}">
                <i class="fa fa-dashboard dropdown-icon "></i>
				إضافة وزارة
                </a>
              </li>

              <li>
                <a href="{{ path('yes') }}">
                <i class="fa fa-dashboard dropdown-icon "></i>
				إضافة برنامج  
                </a>
              </li>
              <li>
                <a href="{{ path('contrat') }}">
                <i class="fa fa-dashboard dropdown-icon "></i>
		       العقود                      
                </a>
              </li>
 <li>
                <a href="{{ path('type_contrat') }}">
                <i class="fa fa-dashboard dropdown-icon "></i>
                             انواع العقود                                   
                </a>
              </li>
          	</ul>
          </li>
		  
		  <li class="dropdown">
          	<a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="mainnav-caret"></i>&nbsp;
			الأنشطة والمشاريع
          	</a>

          	<ul class="dropdown-menu " role="menu">
              <li>
                <a href="{{path('oc_budge_budget')}}">
                <i class="fa fa-table dropdown-icon "></i>
				تبويب الميزانيّة
                </a>
              </li>

              <li>
                <a href="{{path('oc_budge_activity')}}">
                <i class="fa fa-list-alt dropdown-icon "></i>
				الأنشطة والمشاريع
                </a>
              </li>

              <li>
                <a href="{{path('oc_budge_add_activity')}}">
                <i class="fa fa-plus dropdown-icon "></i>
				إضافة نشاط - مشروع
                </a>
              </li>
          	</ul>
          </li>

		  
		  <li class="dropdown">
          	<a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="mainnav-caret"></i>&nbsp;
			البرمجة السنويّة
          	</a>

          	<ul class="dropdown-menu " role="menu">
              <li>
                <a href="index.html">
                <i class="fa fa-dashboard dropdown-icon "></i>
				تبوب الميزانيّة
                </a>
              </li>

              <li>
                <a href="dashboard-2.html">
                <i class="fa fa-dashboard dropdown-icon "></i>
				إضافة نشاط - مشروع
                </a>
              </li>

              <li>
                <a href="dashboard-3.html">
                <i class="fa fa-dashboard dropdown-icon "></i>
				الأنشطة والمشاريع
                </a>
              </li>
          	</ul>
          </li>
		<?php?>
		
		</ul>
		
	
      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->