{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Line_Budget</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ entity.article }}</td>
            </tr>
            <tr>
                <th>Parag</th>
                <td>{{ entity.parag }}</td>
            </tr>
            <tr>
                <th>Sparag</th>
                <td>{{ entity.sParag }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Labelline</th>
                <td>{{ entity.labelLine }}</td>
            </tr>
            <tr>
                <th>Ministere</th>
                <td>{{ entity.ministere }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('line_budget') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('line_budget_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
