{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Budget_taged list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Flagbudget</th>
                <th>Tag1</th>
                <th>Tag2</th>
                <th>Tag3</th>
                <th>Tag4</th>
                <th>Tag5</th>
                <th>Tag6</th>
                <th>Tag7</th>
                <th>Tag8</th>
                <th>Tag9</th>
                <th>Tag10</th>
                <th>Datemin</th>
                <th>Datemax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('budget_taged_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.flagBudget }}</td>
                <td>{{ entity.tag1 }}</td>
                <td>{{ entity.tag2 }}</td>
                <td>{{ entity.tag3 }}</td>
                <td>{{ entity.tag4 }}</td>
                <td>{{ entity.tag5 }}</td>
                <td>{{ entity.tag6 }}</td>
                <td>{{ entity.tag7 }}</td>
                <td>{{ entity.tag8 }}</td>
                <td>{{ entity.tag9 }}</td>
                <td>{{ entity.tag10 }}</td>
                <td>{% if entity.dateMin %}{{ entity.dateMin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateMax %}{{ entity.dateMax|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('budget_taged_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('budget_taged_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('budget_taged_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
