{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Budget_taged</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Flagbudget</th>
                <td>{{ entity.flagBudget }}</td>
            </tr>
            <tr>
                <th>Tag1</th>
                <td>{{ entity.tag1 }}</td>
            </tr>
            <tr>
                <th>Tag2</th>
                <td>{{ entity.tag2 }}</td>
            </tr>
            <tr>
                <th>Tag3</th>
                <td>{{ entity.tag3 }}</td>
            </tr>
            <tr>
                <th>Tag4</th>
                <td>{{ entity.tag4 }}</td>
            </tr>
            <tr>
                <th>Tag5</th>
                <td>{{ entity.tag5 }}</td>
            </tr>
            <tr>
                <th>Tag6</th>
                <td>{{ entity.tag6 }}</td>
            </tr>
            <tr>
                <th>Tag7</th>
                <td>{{ entity.tag7 }}</td>
            </tr>
            <tr>
                <th>Tag8</th>
                <td>{{ entity.tag8 }}</td>
            </tr>
            <tr>
                <th>Tag9</th>
                <td>{{ entity.tag9 }}</td>
            </tr>
            <tr>
                <th>Tag10</th>
                <td>{{ entity.tag10 }}</td>
            </tr>
            <tr>
                <th>Datemin</th>
                <td>{{ entity.dateMin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datemax</th>
                <td>{{ entity.dateMax|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('budget_taged') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('budget_taged_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
