{% trans_default_domain 'FOSUserBundle' %}
<div id="wrapper">
    <header class="navbar" role="banner">
        <div class="container">
            <nav class="collapse navbar-collapse" role="navigation">
                <div class="navbar-header navbar-title">
                    البرمجة السنويّة للنفقات
                </div>
                <div class="navbar-header navbar-title">
                    PAD&nbsp;&nbsp;&nbsp;<sup>V</sup>1.0<sup></sup>
                </div>
{% include "::toolbar.html.twig" %}
            </nav>
        </div>
    </header>
{% include "::menu_header.html.twig" %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="profile-avatar">
                        {%if user and user.checkExisteFile == 1 %}
                        <img src="{{ asset(user.webPathImage) }}"  class="profile-avatar-img img-responsive thumbnail"  alt="">
				 {% else %}
                        <img src="{{ asset('img/default.png') }}" class="profile-avatar-img img-responsive thumbnail" alt="">
                                  {% endif %}
                    </div> <!-- /.profile-avatar -->
                    <div class="list-group">  
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;Activity Feed
                            <i class="fa fa-chevron-right list-group-chevron"></i>
                        </a> 
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-book text-primary"></i> &nbsp;&nbsp;Projects
                            <i class="fa fa-chevron-right list-group-chevron"></i>
                            <span class="badge">3</span>
                        </a> 
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;Messages
                            <i class="fa fa-chevron-right list-group-chevron"></i>
                        </a> 
                        <a href="javascript:;" class="list-group-item">
                            <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Friends
                            <i class="fa fa-chevron-right list-group-chevron"></i>
                        </a> 
                        <a href="{{path('fos_user_profile_edit')}}" class="list-group-item">
                            <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings
                            <i class="fa fa-chevron-right list-group-chevron"></i>
                        </a> 
                    </div> <!-- /.list-group -->
                </div>
                <div class="col-md-6 col-sm-7">
                    <br class="visible-xs">
                    <h3>{{user.name}}  {{user.prenom}}</h3>
                    <h5 class="text-muted">Visual, UI, UX Designer</h5>
                    <hr>
                    <p>
                        <a href="javascript:;" class="btn btn-primary">Follow Nikita</a>
                        &nbsp;&nbsp;
                        <a href="javascript:;" class="btn btn-secondary">Send Message</a>
                    </p>
                    <hr>
                    <ul class="icons-list">
                        <li><i class="icon-li fa fa-envelope"></i>{{user.email}}</li>
                        <li><i class="icon-li fa fa-globe"></i> {{user.webSite}}</li>
                    </ul>    
                    <br>
                    <p>{{user.aboutYou}}</p>
                    <hr>
                    <br><br>
                    <div class="heading-block">
                        <h4>
                            Activity Feed
                        </h4>
                    </div> <!-- /.heading-block -->
                    <div class="share-widget clearfix">
                        <textarea class="form-control share-widget-textarea" rows="3" placeholder="Share what you've been up to..." tabindex="1"></textarea>
                        <div class="share-widget-actions">
                            <div class="share-widget-types pull-left">
                                <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                                <a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>
                                <a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>
                                <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
                            </div>	
                            <div class="pull-right">
                                <a class="btn btn-primary btn-sm" tabindex="2">Post</a>
                            </div>
                        </div> <!-- /.share-widget-actions -->

                    </div> <!-- /.share-widget -->
                </div>
            </div>
        </div>
    </div>
</div>