{% extends '::base.html.twig' %}

{% block body -%}
<div id="wrapper">

    <header class="navbar" role="banner">

    <div class="container">
     <nav class="collapse navbar-collapse" role="navigation">
			<div class="navbar-header navbar-title">
					البرمجة السنويّة للنفقات
			</div>
			
			<div class="navbar-header navbar-title">
				PAD&nbsp;&nbsp;&nbsp;<sup>V<sup>1.0<sup></sup>
			</div>
			{% include "::toolbar.html.twig" %}
		</nav>
	</div> <!-- /.container -->
  </header>
{% include "::menu_header.html.twig" %}
    <h1>Consommation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ entity.year }}</td>
            </tr>
            <tr>
                <th>Ordonnanceengagement</th>
                <td>{{ entity.ordonnanceEngagement }}</td>
            </tr>
            <tr>
                <th>Ordonnancepayement</th>
                <td>{{ entity.ordonnancePayement }}</td>
            </tr>
            <tr>
                <th>Datelecture</th>
                <td>{{ entity.dateLecture|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('consommation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('consommation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
