{% extends "::base.html.twig" %}
{% block stylesheets %}

    {% stylesheets
            'css/mvpready-admin.css'
            'css/custom.css'
            'css/timeline.css' output='style/compiled/'%}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
 {% endblock stylesheets%}

{% block body %}
        {% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
{{ include ('::header.html.twig') }}

<br class="xs-80">

<div class="account-wrapper">

    <div class="account-body">

        <h3>Welcome back to MVP Ready.</h3>

        <h5>Please sign in to get access.</h5>
        <form class="form account-form" action="{{ path("fos_user_security_check") }}" method="post">
            <div class="form-group">
                <label for="login-username" class="placeholder-hidden">Username</label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="text" id="username" name="_username" class="form-control" placeholder="Username" tabindex="1" required="required" />
            </div> <!-- /.form-group -->
            <div class="form-group">
                <label for="login-password" class="placeholder-hidden">Password</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password" tabindex="2" required="required" />
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Remember Me</label>
            <input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" value="Sign in" />
        </form>
    </div> <!-- /.account-body -->

    <div class="account-footer">
        <p>
            Don't have an account? &nbsp;
            <a href="{{path('fos_user_registration_register')}}" class="">Create an Account!</a>
        </p>
    </div> <!-- /.account-footer -->

</div> <!-- /.account-wrapper -->

{% endblock body %}
