{{ include ('::header.html.twig') }}
{% trans_default_domain 'FOSUserBundle' %}

<br class="xs-80">

<div class="account-wrapper">
    <div class="account-body">
        <h3>Get Started with a Free Account.</h3>

        <h5>Sign up in 30 seconds. No credit card required.</h5>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {#{{ form_widget(form) }}#}
        <div class="form-group">
    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'id' : 'signup-email', 'placeholder': 'Your Email' } }) }}
    {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'id' : 'signup-fullname', 'placeholder': 'Your Name' } }) }}
    {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'id' : 'signup-username', 'placeholder': 'Username' } }) }}
    {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'first-login-password', 'placeholder': 'Password' } }) }}
    {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="form-group">
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'second-login-password', 'placeholder': 'Confirme Password' } }) }}
    {{ form_errors(form.plainPassword.second) }}
        </div>

        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" class="" value="" tabindex="5"> I agree to the <a href="javascript:;" target="_blank">Terms of Service</a> &amp; <a href="javascript:;" target="_blank">Privacy Policy</a>
            </label>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <input type="submit" value="Create My Account &nbsp"/>
        </div>
    {{ form_end(form) }}


    </div>
    <div class="account-footer">
        <p>
            Already have an account? &nbsp;
            <a href="{{path('fos_user_security_login')}}" class="">Login to your Account!</a>
        </p>
    </div> <!-- /.account-footer -->
</div>
