{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form account-form'}}) }}


<div>
{{ form_label(form.email,'Email',{'label_attr': {'class': 'placeholder-hidden'}}) }}    
{{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder':'Your Email'}}) }}
{{ form_errors(form.email) }}
</div>

<div class="form-group">
{{ form_label(form.name,'Name',{'label_attr': {'class': 'placeholder-hidden'}}) }}    
{{ form_widget(form.name,{'attr': {'class': 'form-control','placeholder':'Your Name'}}) }}
{{ form_errors(form.name) }}
</div>
<div class="form-group">
{{ form_label(form.username,'UserName',{'label_attr': {'class': 'placeholder-hidden'}}) }}    
{{ form_widget(form.username,{'attr': {'class': 'form-control','placeholder':'Username'}}) }}
{{ form_errors(form.username) }}
</div>

<div class="form-group">
{{ form_label(form.plainPassword.first,'PassWord',{'label_attr': {'class': 'placeholder-hidden'}}) }}    
{{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Password'}}) }}
{{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
{{ form_label(form.plainPassword.second,'Confirme PassWord',{'label_attr': {'class': 'placeholder-hidden'}}) }}    
{{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirme Password'}}) }}
{{ form_errors(form.plainPassword.second) }}
</div>

 {{ form_rest(form) }}       
 <div class="form-group" >
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

{{ form_end(form) }}
