{% extends "::base.html.twig" %}

{% block body %}

<div id="wrapper">

    <header class="navbar" role="banner">

    <div class="container">
     <nav class="collapse navbar-collapse" role="navigation">
			<div class="navbar-header navbar-title">
					البرمجة السنويّة للنفقات
			</div>
			
			<div class="navbar-header navbar-title">
				PAD&nbsp;&nbsp;&nbsp;<sup>V<sup>1.0<sup></sup>
			</div>
			{% include "::toolbar.html.twig" %}
		</nav>
	</div> <!-- /.container -->
  </header>
{% include "::menu_header.html.twig" %}
 <div class="content">

    <div class="container">
	   
      
      
	   
		
      <div class="row">

        <div class="col-sm-12">

          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                <u><i class="fa fa-toggle-down portlet-icon"></i>تحديد التبويب بالميزانيّة</u>
              </h4>
            </div> <!-- /.portlet-header -->

            <div class="portlet-body">
			<div class="well">
              <div class="row" dir="rtl" class="pull-right">

			    <div class="col-sm-3" id="div_hidden_1"></div>
				
                 <div class="col-sm-3" id="div_hidden_2"></div>
				 
				<div class="col-sm-3" id="div_region">

                  <h6>حدّد التوزيع الجغرافي : </h6>

                  <select id="choix_region" name="choix_region" class="js-example-basic-single js-states form-control">
                    <option value="AK">00</option>
                  </select>

                </div> <!-- /.col -->

				
                <div class="col-sm-3" id="div_sous_paragraphe">

                  <h6>حدّد الفقرة الفرعيّة :</h6>
				
				  <select id="sous_paragraphe" name="sous_paragraphe" class="js-example-basic-single js-states form-control">
                    <option value="AK">01136</option>
                  </select>

                </div> <!-- /.col -->

                <div class="col-sm-3" id="div_paragraphe">

                  <h6>حدّد الفقرة :</h6>

				  <select id="choix_paragraphe" name="choix_paragraphe"  class="js-example-basic-single js-states form-control">
                    <optgroup label="التأجير">
                      <option value="AK">01136</option>
                      <option value="HI">01138</option>
                    </optgroup>
                    <optgroup label="وسائل المصالح">
                      <option value="CA">02236</option>
                      <option value="OR">02238</option>
                    </optgroup>
                    <optgroup label="التدخّل العمومي">
                      <option value="AZ">03336</option>
                      <option value="UT">03338</option>
                    </optgroup>
                    <optgroup label="الإستثمارات المباشرة">
                      <option value="TN">06604</option>
                      <option value="WI">06605</option>
					  <option value="TN">06608</option>
                      <option value="WI">06618</option>
					  <option value="WI">06619</option>
                    </optgroup>
                    <optgroup label="التمويل العمومي">
                      <option value="VA">07810</option>
                    </optgroup>
                  </select>

                </div> <!-- /.col -->

				
                <div class="col-sm-3" id="div_article">

                  <h6>حدّد الفصل : </h6>
				 <select id="choix_article" name="choix_article" class="js-example-basic-single js-states form-control">
                    <optgroup label="التأجير">
                      <option value="01136">01136</option>
                      <option value="01138">01138</option>
                    </optgroup>
                    <optgroup label="وسائل المصالح">
                      <option value="02236">02236</option>
                      <option value="02238">02238</option>
                    </optgroup>
                    <optgroup label="التدخّل العمومي">
                      <option value="03336">03336</option>
                      <option value="03338">03338</option>
                    </optgroup>
                    <optgroup label="الإستثمارات المباشرة">
                      <option value="06604">06604</option>
                      <option value="06605">06605</option>
					  <option value="06608">06608</option>
                      <option value="06618">06618</option>
					  <option value="06619">06619</option>
                    </optgroup>
                    <optgroup label="التمويل العمومي">
                      <option value="07810">07810</option>
                    </optgroup>
                  </select>
                </div> <!-- /.col -->

				
              </div> <!-- /.row -->
			  
			  <br>
				<h4>بيــان النفقة : <span class="text-primary">تطويرالبنية التحيتيّة الصناعيّة</span> (برنامج الصناعة)</h4>
				<!--<p> تحديد جملة الأنشطة  الخاصة بهذه الفقرة تحديد جملة الأنشطة  الخاصة بهذه الفقرة تحديد جملة الأنشطة  الخاصة بهذه الفقرة.</p>-->

				الميزانيّة المرسّمة : 1500 (أ.د)
				&nbsp;&nbsp;=>&nbsp;&nbsp;
				تكلفة الأنشطة المبرمجة : 1200 (أ.د)
				&nbsp;&nbsp;=>&nbsp;&nbsp;
				الباقي للبرمجة : 300 (أ.د.)
			  </div> <!-- /.well -->
			  
            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet --> 

        </div> <!-- /.col -->

      </div>
	  
	  <section class="demo-section">

        <div class="tab-pane fade active in" id="desc">
            
              <div class="portlet portlet-boxed portlet-secondary">

					<div class="portlet-header">
					  <h4 class="portlet-title">
						<u><i class="fa fa-check portlet-icon"></i>إدخال معطايات حول النشاط</u>
					  </h4>
					</div> <!-- /.portlet-header -->

					<div class="portlet-body">
					  <form id="activite_identification" action="http://dev.industrie.gov.tn/pad/templates/admin/form-plugins.html" class="form parsley-form">
{#{  action et method pour le formulaire}#}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form account-form'}}) }}

<div class="form-group">
{{ form_label(form.titre,'عنوان النشاط / المشروع',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.titre,{'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.titre) }}
</div>
<div class="form-group">
{{ form_label(form.description,'وصف النشاط / المشروع',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.description) }}
</div>
<div class="form-group">
{{ form_label(form.credit,'الإعتمادات المخصصّة من ميزانيّة الدولة',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.credit,{'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.credit) }}
</div>
<div class="form-group">
{{ form_label(form.outressource,'هل تمّ رصد موارد من خارج ميزانيّة الدولة',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.outressource,{'attr': {'class': 'ui-check'}}) }}
{{ form_errors(form.outressource) }}
<div class="row">
<div class="col-sm-6 col-md-6">
<div class="form-group">
{{ form_label(form.source,'و مصادرها :',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.source,{'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.source) }}
</div>
</div>	
<div class="col-sm-3 col-md-3">
<div class="form-group " >
{{ form_label(form.prix,'قيمتها :',{'label_attr': {'class': 'control-label'}}) }}    
{{ form_widget(form.prix,{'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.prix) }}
</div>
</div>
</div>
</div>
                                              
	                                          {#      <div class="form-group">
							<br />
							<label class="control-label">هل تمّ رصد موارد من خارج ميزانيّة الدولة</label>
							<input value="-1" type="checkbox" id="autre_financement" name="autre_financement" class="ui-check" >							
							
							<div id="payement_autre" class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
											<label for="origine_financement">و مصادرها :</label>
											<input class="form-control" id="origine_financement" name="origine_financement" type="text" placeholder="المصرد">
									</div>
								</div>	
								<div class="col-sm-3 col-md-3">
									<div class="form-group " >
										<label for="valeur_autre_financement"> قيمتها  :</label>
										<input type="text" id="valeur_autre_financement" name="valeur_autre_financement" class="form-control">
									</div>
								</div>
							</div>
						
						</div> <!-- /.form-group -->	#}				
<div class="form-group">
{{ form_label(form.nature,'طبيعة المشروع',{'label_attr': {'class': 'control-label'}}) }}    
</BR>
{{ form_widget(form.nature,{'attr': {'class': 'ui-check'}})}} 
{{ form_widget(form.nature,{'attr': {'class': 'ui-check'}})}}
 </div>

<div class="form-group">
{{ form_label(form.typerealisation,'طريقة الإنجاز',{'label_attr': {'class': 'control-label'}}) }}    
</BR>
{{ form_widget(form.typerealisation,{'attr': {'class': 'ui-check'}})}} 
</BR>
{{ form_widget(form.typerealisation,{'attr': {'class': 'ui-check'}})}}
 </div>
					 
{{ form_rest(form) }}       
 <div class="form-group" >
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

{{ form_end(form) }}
          </div> <!-- /.portlet-body -->
          </div> <!-- /.portlet --> 
		  
		  </div> <!-- /.tab-pane -->

      </section> <!-- /.demo-section -->

	
	
	
    </div> <!-- /.container -->

  </div> <!-- .content -->

		
  </div> <!-- /#wrapper -->


{% endblock body %}